<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-init-method = "init" 
   default-destroy-method = "destroy">

	<bean id = "helloWorld" class = "com.spring_java.HelloWorld">
      <property name = "message1" value = "Hello World!"/>
      <property name = "message2" value = "Hello World Again!"/>
      
   </bean>

   <bean id = "helloBrasil" class = "com.spring_java.HelloBrasil">
      <property name = "message1" value = "Hello Brasil!"/>
      <property name = "message2" value = "Muito obrigado!"/>
      <property name = "message3" value = "Brasil eu te amo!"/>
   </bean>

</beans>